<!-- Facility Section -->
<section class="facility__section section" id="facility">
    <div class="container">
      <div class="facility__contianer" data-aos="fade-up" data-aos-duration="1200">
        <div class="facility__box">
          <div class="facility-img__container">
            <svg>
              <use xlink:href="/images/sprite.svg#icon-airplane"></use>
            </svg>
          </div>
          <p><b>FREE SHIPPING WORLD WIDE</b></p>
        </div>

        <div class="facility__box">
          <div class="facility-img__container">
            <svg>
              <use xlink:href="/images/sprite.svg#icon-credit-card-alt"></use>
            </svg>
          </div>
          <p><b>100% MONEY BACK GUARANTEE</b></p>
        </div>

        <div class="facility__box">
          <div class="facility-img__container">
            <svg>
              <use xlink:href="/images/sprite.svg#icon-credit-card"></use>
            </svg>
          </div>
          <p><b>MANY PAYMENT GATWAYS</b></p>
        </div>

        <div class="facility__box">
          <div class="facility-img__container">
            <svg>
              <use xlink:href="/images/sprite.svg#icon-headphones"></use>
            </svg>
          </div>
          <p><b>24/7 ONLINE SUPPORT</b></p>
        </div>
      </div>
    </div>
</section>
  <!-- End Facility Section -->