  <!-- PopUp -->
  <div class="popup hide__popup">
    <div class="popup__content">
      <div class="popup__close">
        <svg>
          <use xlink:href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </div>
      <div class="popup__left">
        <div class="popup-img__container">
          <img class="popup__img" src="https://c0.wallpaperflare.com/preview/654/868/993/beer-alcohol-the-drink-glass.jpg" alt="popup">
        </div>
      </div>
      <div class="popup__right">
        <div class="right__content">
          <h1>Get Discount <span>30%</span> Off</h1>
          <p>Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
          </p>
          <form action="#" class="popup__content_form">
            <input type="email" placeholder="Enter your email..." class="popup__form">
            <button href="#">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End PopUp -->