<!-- Navbar -->
<div class="navigation">
    <div class="container">
      <nav class="nav">
        <div class="nav__hamburger">
          <svg>
            <use xlink:href="/images/sprite.svg#icon-menu"></use>
          </svg>
        </div>

        <div class="nav__logo">
          <a href="/" class="scroll-link">
            LUPULOPOLIS
          </a>
        </div>

        <div class="nav__menu">
          <div class="menu__top">
            <span class="nav__category">LUPULOPOLIS</span>
            <a href="#" class="close__toggle">
              <svg>
                <use xlink:href="/images/sprite.svg#icon-cross"></use>
              </svg>
            </a>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#header" class="nav__link scroll-link active ">Home</a>
            </li>
            <li class="nav__item">
              <a href="/products" class="nav__link scroll-link">Products</a>
            </li>
            <li class="nav__item">
              <a href="#news" class="nav__link scroll-link">Category</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link scroll-link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__icons">
          <a href="/users/login" class="icon__item">
            <i class="fas fa-user"></i>
          </a>

          <a href="#" class="icon__item">
            <i class="fas fa-search"></i>
          </a>

          <a href="/cart" class="icon__item">
            <i class="fas fa-shopping-bag"></i>
            <span id="cart__total">0</span>
          </a>
        </div>
      </nav>
    </div>
</div>
<!-- End Navbar -->